.circuit{
    padding: 0;
    margin-right: 50px;

}

.outer-square{
    width:150px;
    height:150px;
    border: 3px solid rebeccapurple;
    border-radius: 10px;

    background-color: white;
    margin-left: auto;
    margin-right: 0;
    
    display: grid;
    align-content: center;   
    justify-content: center; 
}
.inner-square{
    width: 120px;
    height: 120px;
    border: 3px solid rebeccapurple;
    border-radius: 10px;
   
    

    
}

.smallest-square{
    width: 16px;
    height: 16px;
    border: 2px solid rebeccapurple;
    border-radius: 3px;
    margin-left: 24px;
    margin-top: 23px;
    position: fixed;
   
    

}

.left-wires1{
   
        border-top:2px solid black;
        border-right: 2px solid black;
        height: 16px;
        margin-top: 15px;
		width:45px;
		
}


.left-wires2{
    
	    margin-top: 25px;
		width:25px;
		
		border-top:2px solid black;
}
.left-wires3{
    
	    margin-top: 25px;
		width:45px;
        height: 16px;
        border-right: 2px solid black;
		border-bottom:2px solid black;
}
.left-wires4{
    
    margin-top: 25px;
    width:45px;
    height: 16px;
    border-right: 2px solid black;
    border-bottom:2px solid black;
}
.left-wires5{
    
    margin-top: 25px;
    width:45px;
    height: 16px;
    border-right: 2px solid black;
    border-bottom:2px solid black;
}
.left-wires6{
    
    margin-top: 25px;
    width:45px;
    height: 16px;
    border-right: 2px solid black;
    border-bottom:2px solid black;
}
