body {
  margin: 0;
  padding:0;
 
}
.nav-header{
background-color: #152238;
display:flex;
justify-content: flex-end;
clear: none;
color:white;
font-family: 'Courier New', Courier, monospace;
border: .2em solid #E1D9D1;
border-top: 0px;
border-left: 0px;
border-right:0px;

}
.landing-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.nav-header > h1{
  padding: 1%;
}

.home-body{
  background: #152238;
  height: 100%;
 

}

.container{
  margin-top: 5%;
  margin-left: 5%;
  width: 35%;
  height: 20%;

}
.home-description{
  width:auto;
  height: auto;
  margin: 0%;
  font-size: 2em;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}


