body {
  margin: 0;
  padding:0;
}
.nav-header{
background-color: red;
display:flex;
clear: none;
justify-content: flex-end;

}
.nav-header > h1{
  padding: 20px;
}

.home-body{
  background: linear-gradient(70deg,#561139, #38A2D7);
  height: 100vh;

}
