body {
  margin: 0;
  padding:0;
}
.nav-header{
background-color: #152238;

display:flex;
justify-content: flex-end;
clear: none;
color:white;
font-family: 'Courier New', Courier, monospace;
border:3px solid #E1D9D1;
border-top: 0px;
border-left: 0px;
border-right:0px;



}
.nav-header > h1{
  padding: 20px;
}

.home-body{
  background: #152238;
  
  height: 100vh;
 

}
.home-description{
 
  margin: 0px;
width: 30%;
height: 40%;
   font-size: 30px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}
